
@{
    ViewBag.Title = "Administração";
}

<h2>Administração</h2>


<br />
<button type="button" class="btn" aria-label="Left Align">
    @Html.ActionLink("Novo Post", "CadastrarPost") <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
</button>
<br/>
<br />
<button type="button" class="btn" aria-label="Left Align">
     @Html.ActionLink("Usuarios", "Index", "Usuarios") <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
</button>
