@model BlogVivi.Web.Models.Blog.ListarPostViewModel
@if (Model.TotalPaginas > 1)
{
    var paginaAnterior = Model.PaginaAtual - 1;
    var proximaPagina = Model.PaginaAtual + 1;
    <div class="pagination">
        @if (Model.PaginaAtual > 1)
        {
            @Html.ActionLink("Página anterior", "Index", "Blog", new { pagina = paginaAnterior,tag= Model.Tag, pesquisa = Model.Pesquisa }, new { rel = "prev" })
        }
        &nbsp;&nbsp;&nbsp;&nbsp;

        @if (Model.PaginaAtual < Model.TotalPaginas)
        {
            @Html.ActionLink("Proxima Página", "Index", "Blog", new { pagina = proximaPagina, tag = Model.Tag, pesquisa = Model.Pesquisa }, new { rel = "prev" })
        }
    </div>
}

